apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  labels:
    app: {{ .Values.name }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.port }}
      targetPort: {{ .Values.port }}
      nodePort: {{ .Values.service.public.port }}
      protocol: TCP
      name: http
  selector:
    app: {{ .Values.name }}
